*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    margin-top: 30px;
    background-color: #ffff;
}
.container {
    display: flex;
    justify-content: space-between;
}
.nav-soc-media-link{
    display: flex;
    margin-right: 70px;
 
}
.nav-logo{
    margin-left: 60px;
}
.nav-logo>h1 {
    font-size: 28px;
    line-height: 0;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Open Sans", sans-serif;
    color: #576971;
    text-decoration: none;
}
.nav-link {
    display: flex;
    margin-right: 50px;
    

}
.nav-link>li>a:hover{
    color: #0d6efd;
}
.nav-link>li>a{
  text-decoration: none;
  font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: #7b909a;
    transition: 0.3s;
}

.nav-link>li:nth-child(2):hover .about-sub{
    padding-top: 3px;
    display: contents;
    display: block;
    transform:translate3d(-30px, 0px, 0px);
}
.nav-link>li{
    list-style-type: none;
    margin-left: 30px; 
}

.fa-angle-down {
   
    margin-left: 5px;
}
.about-sub {
    position: absolute;
    display: none;
 background-color: #f9f9f9;
 min-width: 140px;
 box-shadow: -3px 13px 9px 6px #000000 ;
 border-radius: 10px;
    
}
.about-sub-link{
    list-style: none;
    margin-top: 6px;
}
.about-sub-link>a {
    color: #576971;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    transition: 0.3s;
    float: none;
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
}
.about-sub-link>a:hover{
    color: #0d6efd;
}

.header-soc-media-links {
    color: #7b909a;
    margin-right: 8px;
    font-size: 18px;
}
.header-soc-media-links:hover{
    color: #0d6efd;
    cursor: pointer;
}

/* section-hero*/


.fon-hero{
    background-image: url(./Снимок\ экрана\ 2022-05-06\ 140839.png);
    background-repeat: round;
 
}
.hero-container{
    display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 140px;
}
.hero-left-text-btn {
    width: 630px;
   
}
.hero-left-title {
    margin: 0 0 20px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #364146;
}
h1,h2{
    font-family: "Raleway", sans-serif;
}
.hero-left-bottom-title {
    color: #576971;
    margin-bottom: 30px;
    font-size: 24px
}
.hero-left-button {
}
.hero-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 18px 28px;
    border-radius: 10px;
    transition: 0.5s;
    color: #fff;
    background: #009cea;
    text-decoration: none;
}
/*Section Info*/
.info {
    padding-bottom: 40px;
    padding-top: 50px;
}

.info-top {
    background-color: #f7f8f9;
    display: flex;
    margin-top: 50px;
    padding-top: 50px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    padding-right: 30px;
    padding-left: 50px;
}

.info-top-text-right {
    margin-right: 50px;
    width: 622px;
}

.info-top-text-title {
    font-weight: 400;
    font-size: 32px;
    color: #364146;
    font-family: "Poppins", sans-serif;
}

.info-top-text-paragraph {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    margin: 0px 0px 16px;
    font-size: 16px;
    padding-top: 10px;
    line-height: 1.8;
}

.info-top-list {
    padding-bottom: 13px;
}

.info-top-list>li {
    padding-bottom: 15px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    list-style: none;

}

.info-top-list>li:nth-child(3) {
    line-height: 1.8;
}

.info-top-bottom-paragraph {
    color: #444444;
    line-height: 1.6;
    font-size: 16.5px;
    font-family: "Open Sans", sans-serif;
}

.info-bottom {
    display: flex;
    justify-content: space-between;
}

.info-bottom-left-link {
    margin-left: 100px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.info-bottom-link {
    margin-top: 20px;
    border: none;
    background-color: #fff;
    border-left: 4px solid #d0eaf8;
    padding: 25px;
    position: relative;
}

.active {

    border-color: #0d6efd;
    animation-name: img-anime;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes img-anime {
    from {

        opacity: 0.1;
    }

    to {

        opacity: 1;
    }
}

.info-bottom-img.active {
    display: block;
}

.info-bottom-link>h4 {
    color: #576971;
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s;
    font-family: "Raleway", sans-serif;
    line-height: 1.2;
}

.info-bottom-link>p {
    font-size: 14.5px;
    margin-top: 10px;
    margin-bottom: 0;
    color: #364146;
    font-family: "Raleway", sans-serif;
}

.info-bottom-link-title {
    position: absolute;
    left: 21px;
    top: 0;
}

.info-bottom-right-imgs {
    margin-bottom: 50px;
    margin-right: 160px;
    display: flex;
    flex-direction: column;

}

.info-bottom-right-imgs>img {
    display: none;
}

/* section-services*/
.services {
    background-color: #f7f8f9;
    padding-bottom: 50px;
    padding-top: 50px;
}
.services-text {
}
.services-title {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 0;
    font-family: "Poppins", sans-serif;
    color: #627680;
    
}
.services-paragraph {
    line-height:1.6;
    margin: 0 auto;
    width: 1236px;
    color: #444444;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.services-row {
    margin-top: 30px;
    display: flex;
    
    justify-content: space-evenly;

}
.services-boxs {
    width: 306px;
    background-color: #fff;
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 0;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
    text-align: center;
    border-bottom: 3px solid #fff;
}
.services-boxs:nth-child(1):hover{
    transform: scale(1.1);
    border-color:rgb(246, 82, 142);
}
.services-boxs:nth-child(2):hover{
    transform: scale(1.1);
    border-color:#60f5dc;
}
.services-boxs:nth-child(3):hover{
    transform: scale(1.1);
    border-color: green;
}
.services-boxs:nth-child(4):hover{
    transform: scale(1.1);
    border-color: blue;
}
.services-box {
}
.services-box-icon {
    margin-bottom: 20px;
    
}

.fa-dribbble {
    font-size: 40px;

}
.services-box-title {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #111;
    margin-bottom: 15px;
    line-height: 1.2;
}
.services-box-description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
    color: #444444;
    font-family: 'Open Sans', sans-serif;
}
.fa-regular {
    
}
.fa-file-lines {
    font-size: 40px;
    color: #60f5dc;
}
.fa-gauge-simple-high{
    font-size: 40px;
    color: green;
}
.fa-earth-asia{
    font-size: 40px;
    color: blue;
}

