*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    margin-top: 30px;
    background-color: #ffff;
}
.container {
    display: flex;
    justify-content: space-between;
}
.nav-soc-media-link{
    display: flex;
    margin-right: 70px;
 
}
.nav-logo{
    margin-left: 60px;
}
.nav-logo>h1 {
    font-size: 28px;
    line-height: 0;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Open Sans", sans-serif;
    color: #576971;
    text-decoration: none;
}
.nav-link {
    display: flex;
    margin-right: 50px;
    

}
.nav-link>li>a:hover{
    color: #0d6efd;
}
.nav-link>li>a{
  text-decoration: none;
  font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: #7b909a;
    transition: 0.3s;
}

.nav-link>li:nth-child(2):hover .about-sub{
    padding-top: 3px;
    display: contents;
    display: block;
    transform:translate3d(-30px, 0px, 0px);
}
.nav-link>li{
    list-style-type: none;
    margin-left: 30px; 
}

.fa-angle-down {
   
    margin-left: 5px;
}
.about-sub {
    position: absolute;
    display: none;
 background-color: #f9f9f9;
 min-width: 140px;
 box-shadow: -3px 13px 9px 6px #000000 ;
 border-radius: 10px;
    
}
.about-sub-link{
    list-style: none;
    margin-top: 6px;
}
.about-sub-link>a {
    color: #576971;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    transition: 0.3s;
    float: none;
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
}
.about-sub-link>a:hover{
    color: #0d6efd;
}

.header-soc-media-links {
    color: #7b909a;
    margin-right: 8px;
    font-size: 18px;
}
.header-soc-media-links:hover{
    color: #0d6efd;
    cursor: pointer;
}

/* section-hero*/


.fon-hero{
    background-image: url(./Снимок\ экрана\ 2022-05-06\ 140839.png);
    background-repeat: round;
 
}
.hero-container{
    display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 140px;
}
.hero-left-text-btn {
    width: 630px;
   
}
.hero-left-title {
    margin: 0 0 20px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #364146;
}
h1,h2{
    font-family: "Raleway", sans-serif;
}
.hero-left-bottom-title {
    color: #576971;
    margin-bottom: 30px;
    font-size: 24px
}
.hero-left-button {
}
.hero-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 18px 28px;
    border-radius: 10px;
    transition: 0.5s;
    color: #fff;
    background: #009cea;
    text-decoration: none;
}
/*Section Info*/




.info {
}
.info-container {

}
.info-top {
    background-color: #f7f8f9;
    display: flex;
    margin-top: 50px;
    padding-top: 50px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    padding-right: 30px;
    padding-left:50px ;
}
.info-top-img {
 
}
.info-top-text-right {
   margin-right: 50px;
    width: 622px;
}
.info-top-text-title {
    font-weight: 400;
    font-size: 32px;
    color: #364146;
    font-family: "Poppins", sans-serif;
}
.info-top-text-paragraph {
    font-family: "Open Sans",sans-serif;
    color:#444444;
    margin: 0px 0px 16px;
    font-size: 16px;
    padding-top: 10px;
    line-height:  1.8;
}
.info-top-list{
    padding-bottom: 13px;
}
.info-top-list>li {
    padding-bottom: 15px;
    font-size: 18px;
    font-family:"Open Sans",sans-serif;
    color:#444444;
    list-style: none;
    
}
.info-top-list>li:nth-child(3){
    line-height:  1.8;
}
.fa-regular {
}
.fa-circle-check {
}
.info-top-bottom-paragraph {
    color: #444444;
    line-height: 1.6;
    font-size: 16.5px;
    font-family: "Open Sans",sans-serif;
}



.info-bottom {
    display: flex;
    justify-content: space-between;
}
.info-bottom-left-link {
    margin-left: 30px;
    list-style: none;
    display: flex;
    flex-direction: column; 
}
.info-bottom-link {
    margin-top: 20px; 
    border: none;
    margin-top: 20px;
    background-color: #fff;
    border-left:4px solid  #d0eaf8;
    padding:20px;
}
.active{
    transition: 0.10s;
    border-color: #0d6efd;
    
}
.info-bottom-img.active{
    display: block;
}

.info-bottom-link>h4{
    color: #576971;
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s;
    font-family: "Raleway", sans-serif;
    line-height: 1.2;
}

.info-bottom-link>p{
    font-size: 14.5px;
    margin-top: 7px;
    margin-bottom: 0;
    color: #364146;
    font-family: "Raleway", sans-serif;
}
.info-bottom-link-title {
}
.info-bottom-link-paragraph {
}
.info-bottom-right-imgs{
    margin-right: 160px;
    display: flex;
    flex-direction: column; 
}
.info-bottom-right-imgs>img {
   display: none;
}
